# Automobile Accident Severity Prediction
# Given dat about accidents in the Us. let's try to predict the severity of the given accident.

# Importing the Requisite Libraries

In [3]:
#importing numpy and pandas 
import numpy as np
import pandas as pd
#importing visualization library
import matplotlib.pyplot as plt
#for splitting the data into train and test dataset
from sklearn.model_selection import train_test_split
#standardscaler for scaling the dataset
from sklearn.preprocessing import StandardScaler
#tensorflow neural network to train the model
import tensorflow as tf

# Loading the Dataset

In [4]:
df=pd.read_csv('/kaggle/input/us-accidents/US_Accidents_Dec21_updated.csv',nrows=1000000)
#showing the dataset
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,A-999996,2,2021-04-07 08:45:59,2021-04-07 10:27:35,40.424784,-74.219459,40.435444,-74.251519,1.840,Crash on Garden State Parkway Local Lanes nort...,...,False,False,False,False,False,False,Day,Day,Day,Day
999996,A-999997,2,2021-12-10 22:30:32,2021-12-11 01:59:04,44.951654,-93.141838,44.951643,-93.121582,0.990,Construction on I-94 near HURON BLVD Drive wit...,...,False,False,False,False,False,False,Night,Night,Night,Night
999997,A-999998,2,2021-11-13 22:11:08,2021-11-14 01:10:58,44.951640,-93.146516,44.951626,-93.126381,0.985,Construction on I-94 EB near LEXINGTON PKY Dri...,...,False,False,False,False,False,False,Night,Night,Night,Night
999998,A-999999,2,2021-07-27 05:47:00,2021-07-27 07:15:00,40.782355,-111.910589,40.782255,-111.910019,0.031,Accident from exit [309] to W 600 N.,...,False,False,False,False,False,False,Night,Night,Day,Day
999999,A-1000000,2,2021-08-16 11:06:30,2021-08-16 13:08:17,28.447743,-81.473913,28.450037,-81.474480,0.162,Slow traffic on FL-482 from Sand Lake Rd (FL-4...,...,False,False,False,False,False,False,Day,Day,Day,Day

# Getting the Preliminary Informatin about the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     1000000 non-null  object
 1   Severity               1000000 non-null  int64
 2   Start_Time             1000000 non-null  object
 3   End_Time               1000000 non-null  object
 4   Start_Lat              1000000 non-null  float64
 5   Start_Lng              1000000 non-null  float64
 6   End_Lat                1000000 non-null  float64
 7   End_Lng                1000000 non-null  float64
 8   Distance(mi)           1000000 non-null  float64
 9   Description            1000000 non-null  object
 10  Number                 410248 non-null   float64
 11  Street                 999999 non-null   object
 12  Side                   1000000 non-null  object
 13  City                   999945 non-null   object
 14  County                 1000000 non-null  object
 15  State                  1000000 non-null  object
 16  Zipcode                999581 non-null   object
 17  Country                1000000 non-null  object
 18  Timezone               999031 non-null   object
 19  Airport_Code           996539 non-null   object
 20  Weather_Timestamp      985245 non-null   object
 21  Temperature(F)         979225 non-null   float64
 22  Wind_Chill(F)          787173 non-null   float64
 23  Humidity(%)            978285 non-null   float64
 24  Pressure(in)           982250 non-null   float64
 25  Visibility(mi)         978445 non-null   float64
 26  Wind_Direction         978543 non-null   object
 27  Wind_Speed(mph)        943482 non-null   float64
 28  Precipitation(in)      770297 non-null   float64
 29  Weather_Condition      978118 non-null   object
 30  Amenity                1000000 non-null  bool
 31  Bump                   1000000 non-null  bool
 32  Crossing               1000000 non-null  bool
 33  Give_Way               1000000 non-null  bool
 34  Junction               1000000 non-null  bool
 35  No_Exit                1000000 non-null  bool
 36  Railway                1000000 non-null  bool
 37  Roundabout             1000000 non-null  bool
 38  Station                1000000 non-null  bool
 39  Stop                   1000000 non-null  bool
 40  Traffic_Calming        1000000 non-null  bool
 41  Traffic_Signal         1000000 non-null  bool
 42  Turning_Loop           1000000 non-null  bool
 43  Sunrise_Sunset         998422 non-null   object
 44  Civil_Twilight         998422 non-null   object
 45  Nautical_Twilight      998422 non-null   object
 46  Astronomical_Twilight  998422 non-null   object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 271.8+ MB

# Checking the Shape of the Dataset

In [6]:
df.shape

(1000000, 47)

In [7]:
df.isna().sum()

ID                            0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                       0
End_Lng                       0
Distance(mi)                  0
Description                   0
Number                   589752
Street                        1
Side                          0
City                         55
County                        0
State                         0
Zipcode                     419
Country                       0
Timezone                    969
Airport_Code               3461
Weather_Timestamp         14755
Temperature(F)            20775
Wind_Chill(F)            212827
Humidity(%)               21715
Pressure(in)              17750
Visibility(mi)            21555
Wind_Direction            21457
Wind_Speed(mph)           56518
Precipitation(in)        229703
Weather_Condition         21882
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset             1578
Civil_Twilight             1578
Nautical_Twilight          1578
Astronomical_Twilight      1578
dtype: int64

# Dropping the Column with Larger Number of Missing Values

In [8]:
missing_column=['Number','Precipitation(in)']
df=df.drop(missing_column,axis=1)

# Checking for Missing Values in Each Column

In [9]:
df.isna().mean()

ID                       0.000000
Severity                 0.000000
Start_Time               0.000000
End_Time                 0.000000
Start_Lat                0.000000
Start_Lng                0.000000
End_Lat                  0.000000
End_Lng                  0.000000
Distance(mi)             0.000000
Description              0.000000
Street                   0.000001
Side                     0.000000
City                     0.000055
County                   0.000000
State                    0.000000
Zipcode                  0.000419
Country                  0.000000
Timezone                 0.000969
Airport_Code             0.003461
Weather_Timestamp        0.014755
Temperature(F)           0.020775
Wind_Chill(F)            0.212827
Humidity(%)              0.021715
Pressure(in)             0.017750
Visibility(mi)           0.021555
Wind_Direction           0.021457
Wind_Speed(mph)          0.056518
Weather_Condition        0.021882
Amenity                  0.000000
Bump                     0.000000
Crossing                 0.000000
Give_Way                 0.000000
Junction                 0.000000
No_Exit                  0.000000
Railway                  0.000000
Roundabout               0.000000
Station                  0.000000
Stop                     0.000000
Traffic_Calming          0.000000
Traffic_Signal           0.000000
Turning_Loop             0.000000
Sunrise_Sunset           0.001578
Civil_Twilight           0.001578
Nautical_Twilight        0.001578
Astronomical_Twilight    0.001578
dtype: float64

In [10]:
x=[1,2,3,4]
x=np.array(x)
x.mean()

2.5

In [11]:
df=df.dropna(axis=0).reset_index(drop=True)

In [12]:
df.isna().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [13]:
df.shape

(779852, 45)

# Getting the Object columns

# Dropping the Unnecessary Columns

In [14]:
{column:len(list(df[column].unique())) for column in df.columns if df[column].dtypes=='object'}

{'ID': 779852,
 'Start_Time': 568232,
 'End_Time': 678286,
 'Description': 457992,
 'Street': 92501,
 'Side': 2,
 'City': 8515,
 'County': 1439,
 'State': 49,
 'Zipcode': 171938,
 'Country': 1,
 'Timezone': 4,
 'Airport_Code': 1752,
 'Weather_Timestamp': 119439,
 'Wind_Direction': 23,
 'Weather_Condition': 94,
 'Sunrise_Sunset': 2,
 'Civil_Twilight': 2,
 'Nautical_Twilight': 2,
 'Astronomical_Twilight': 2}

# Dropping the Column with high number of unique columns

In [15]:
unnecessary_columns=['ID','Description','Street','City','Zipcode','Country']
df=df.drop(unnecessary_columns,axis=1)

In [16]:
df

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Side,County,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,R,Franklin,...,False,False,False,False,False,False,Night,Night,Night,Night
1,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,R,Hamilton,...,False,False,False,False,False,False,Day,Day,Day,Day
2,2,2016-02-08 08:16:57,2016-02-08 14:16:57,39.063240,-84.032430,39.067310,-84.058510,1.427,R,Clermont,...,False,False,False,False,True,False,Day,Day,Day,Day
3,2,2016-02-08 11:51:46,2016-02-08 17:51:46,41.375310,-81.820170,41.367860,-81.821740,0.521,R,Cuyahoga,...,False,False,False,False,False,False,Day,Day,Day,Day
4,2,2016-02-08 14:19:57,2016-02-08 20:19:57,40.702247,-84.075887,40.699110,-84.084293,0.491,R,Allen,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779847,2,2021-04-07 08:45:59,2021-04-07 10:27:35,40.424784,-74.219459,40.435444,-74.251519,1.840,R,Monmouth,...,False,False,False,False,False,False,Day,Day,Day,Day
779848,2,2021-12-10 22:30:32,2021-12-11 01:59:04,44.951654,-93.141838,44.951643,-93.121582,0.990,R,Ramsey,...,False,False,False,False,False,False,Night,Night,Night,Night
779849,2,2021-11-13 22:11:08,2021-11-14 01:10:58,44.951640,-93.146516,44.951626,-93.126381,0.985,R,Ramsey,...,False,False,False,False,False,False,Night,Night,Night,Night
779850,2,2021-07-27 05:47:00,2021-07-27 07:15:00,40.782355,-111.910589,40.782255,-111.910019,0.031,R,Salt Lake,...,False,False,False,False,False,False,Night,Night,Day,Day
779851,2,2021-08-16 11:06:30,2021-08-16 13:08:17,28.447743,-81.473913,28.450037,-81.474480,0.162,R,Orange,...,False,False,False,False,False,False,Day,Day,Day,Day

# Extracting year and month from date column

In [17]:
def get_year(df,column):
    return df[column].apply(lambda x:x[0:4])
    

def get_month(df,column):
    return df[column].apply(lambda x:x[5:7])

In [18]:
df['Start_Time']

0         2016-02-08 00:37:08
1         2016-02-08 07:53:43
2         2016-02-08 08:16:57
3         2016-02-08 11:51:46
4         2016-02-08 14:19:57
                 ...
779847    2021-04-07 08:45:59
779848    2021-12-10 22:30:32
779849    2021-11-13 22:11:08
779850    2021-07-27 05:47:00
779851    2021-08-16 11:06:30
Name: Start_Time, Length: 779852, dtype: object

In [19]:
df['Start_Year']=get_year(df,'Start_Time')
df['Start_Month']=get_month(df,'Start_Time')

In [20]:
df['End_Year']=get_year(df,'End_Time')
df['End_Month']=get_month(df,'End_Time')
df['Weather_Year']=get_year(df,'Weather_Timestamp')
df['Weather_Month']=get_month(df,'Weather_Timestamp')

# Dropping the Date Column

In [21]:
df=df.drop(['Start_Time','End_Time','Weather_Timestamp'],axis=1)

In [22]:
df

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Side,County,State,Timezone,...,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Year,Start_Month,End_Year,End_Month,Weather_Year,Weather_Month
0,3,40.108910,-83.092860,40.112060,-83.031870,3.230,R,Franklin,OH,US/Eastern,...,Night,Night,Night,Night,2016,02,2016,02,2016,02
1,3,39.172393,-84.492792,39.170476,-84.501798,0.500,R,Hamilton,OH,US/Eastern,...,Day,Day,Day,Day,2016,02,2016,02,2016,02
2,2,39.063240,-84.032430,39.067310,-84.058510,1.427,R,Clermont,OH,US/Eastern,...,Day,Day,Day,Day,2016,02,2016,02,2016,02
3,2,41.375310,-81.820170,41.367860,-81.821740,0.521,R,Cuyahoga,OH,US/Eastern,...,Day,Day,Day,Day,2016,02,2016,02,2016,02
4,2,40.702247,-84.075887,40.699110,-84.084293,0.491,R,Allen,OH,US/Eastern,...,Day,Day,Day,Day,2016,02,2016,02,2016,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779847,2,40.424784,-74.219459,40.435444,-74.251519,1.840,R,Monmouth,NJ,US/Eastern,...,Day,Day,Day,Day,2021,04,2021,04,2021,04
779848,2,44.951654,-93.141838,44.951643,-93.121582,0.990,R,Ramsey,MN,US/Central,...,Night,Night,Night,Night,2021,12,2021,12,2021,12
779849,2,44.951640,-93.146516,44.951626,-93.126381,0.985,R,Ramsey,MN,US/Central,...,Night,Night,Night,Night,2021,11,2021,11,2021,11
779850,2,40.782355,-111.910589,40.782255,-111.910019,0.031,R,Salt Lake,UT,US/Mountain,...,Night,Night,Day,Day,2021,07,2021,07,2021,07
779851,2,28.447743,-81.473913,28.450037,-81.474480,0.162,R,Orange,FL,US/Eastern,...,Day,Day,Day,Day,2021,08,2021,08,2021,08

# Create onehot_encode function to encode the object columns

In [23]:
def onehot_encode(df,columns,prefixes):
    df=df.copy()
    for column,prefix in zip(columns,prefixes):
        dummies=pd.get_dummies(df[column],prefix=prefix)
        #concating
        df=pd.concat([df,dummies],axis=1)
        #dropping original column
        df=df.drop(column,axis=1)
    return df

In [24]:
df.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng',
       'Distance(mi)', 'Side', 'County', 'State', 'Timezone', 'Airport_Code',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight',
       'Start_Year', 'Start_Month', 'End_Year', 'End_Month', 'Weather_Year',
       'Weather_Month'],
      dtype='object')

In [25]:
date_column=['Start_Year','Start_Month','End_Year','End_Month','Weather_Year','Weather_Month']
for column in date_column:
    df[column]=df[column].astype(np.int)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
categorical_columns=[column for column in df.columns if df[column].dtypes=='object']

In [27]:
df=onehot_encode(df,categorical_columns,prefixes=categorical_columns)

In [28]:
df

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),...,Weather_Condition_Wintry Mix,Weather_Condition_Wintry Mix / Windy,Sunrise_Sunset_Day,Sunrise_Sunset_Night,Civil_Twilight_Day,Civil_Twilight_Night,Nautical_Twilight_Day,Nautical_Twilight_Night,Astronomical_Twilight_Day,Astronomical_Twilight_Night
0,3,40.108910,-83.092860,40.112060,-83.031870,3.230,42.1,36.1,58.0,29.76,...,0,0,0,1,0,1,0,1,0,1
1,3,39.172393,-84.492792,39.170476,-84.501798,0.500,37.0,29.8,93.0,29.69,...,0,0,1,0,1,0,1,0,1,0
2,2,39.063240,-84.032430,39.067310,-84.058510,1.427,35.6,29.2,100.0,29.66,...,0,0,1,0,1,0,1,0,1,0
3,2,41.375310,-81.820170,41.367860,-81.821740,0.521,33.1,30.0,92.0,29.63,...,0,0,1,0,1,0,1,0,1,0
4,2,40.702247,-84.075887,40.699110,-84.084293,0.491,39.0,31.8,70.0,29.59,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
779847,2,40.424784,-74.219459,40.435444,-74.251519,1.840,54.0,54.0,42.0,30.01,...,0,0,1,0,1,0,1,0,1,0
779848,2,44.951654,-93.141838,44.951643,-93.121582,0.990,31.0,19.0,82.0,28.87,...,0,0,0,1,0,1,0,1,0,1
779849,2,44.951640,-93.146516,44.951626,-93.126381,0.985,33.0,28.0,89.0,28.90,...,0,0,0,1,0,1,0,1,0,1
779850,2,40.782355,-111.910589,40.782255,-111.910019,0.031,78.0,78.0,46.0,25.76,...,0,0,0,1,0,1,1,0,1,0
779851,2,28.447743,-81.473913,28.450037,-81.474480,0.162,87.0,87.0,72.0,29.88,...,0,0,1,0,1,0,1,0,1,0

# Splitting between x and y columns

In [29]:
y=df['Severity']
x=df.drop('Severity',axis=1)

# Scaling the Feature Data With StandardScaler

In [ ]:
scaler=StandardScaler()
pd.DataFrame(scaler.fit_transform(x),columns=x.columns)

In [ ]:
df