In [21]:
#importing library
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [22]:
#loading the data
df=pd.read_csv('fish.csv')

In [23]:
#showing the data
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [5]:
df.shape

(159, 7)

In [24]:
#preprocessing
#checking if null value
df.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [25]:
y=df['Species']
x=df.drop('Species',axis=1)

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [26]:

scaler=StandardScaler()

In [27]:
x=pd.DataFrame(scaler.fit_transform(x),columns=x.columns)
x

       Weight   Length1   Length2   Length3    Height     Width
0   -0.438072 -0.305789 -0.282303 -0.106020  0.596579 -0.236529
1   -0.303562 -0.225507 -0.198054 -0.002337  0.821261 -0.066579
2   -0.163448 -0.235542 -0.179332 -0.010977  0.797341  0.165793
3   -0.098995  0.005302  0.054694  0.196390  0.879771  0.022621
4    0.088759  0.025372  0.054694  0.239592  0.812835  0.426371
..        ...       ...       ...       ...       ...       ...
154 -1.082039 -1.479903 -1.517960 -1.540309 -1.610359 -1.799403
155 -1.078676 -1.459833 -1.499238 -1.531669 -1.530878 -1.873547
156 -1.082039 -1.419692 -1.443072 -1.505748 -1.566687 -1.881402
157 -1.061022 -1.309305 -1.321378 -1.384784 -1.427243 -1.398568
158 -1.060461 -1.249094 -1.255851 -1.298381 -1.413341 -1.510440

[159 rows x 6 columns]

In [28]:
encoder=LabelEncoder()

In [30]:
y=encoder.fit_transform(y)

In [36]:
#getting mapping for the 
y_mapping={index:label for index,label in enumerate(encoder.classes_)}
y_mapping

{0: 'Bream',
 1: 'Parkki',
 2: 'Perch',
 3: 'Pike',
 4: 'Roach',
 5: 'Smelt',
 6: 'Whitefish'}

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)

In [40]:
x_train.shape
x_test.shape

(48, 6)

In [41]:
logistic_model=LogisticRegression()

In [42]:
logistic_model.fit(x_train,y_train)

LogisticRegression()

In [43]:
logistic_model.score(x_test,y_test)

0.7916666666666666