In [3]:
#importing library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.svm import LinearSVR,SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
import warnings
warnings.filterwarnings(action='ignore')

In [4]:
#loading the dataset
df=pd.read_csv('../input/insurance-premium-prediction/insurance.csv')
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [13]:
{column:len(x[column].unique()) for column in x.select_dtypes('object').columns}

{'sex': 2, 'smoker': 2, 'region': 4}

In [24]:
#Preprocessing the dataset
def preprocess_inputs(df):
    df=df.copy()
    #binary encoding
    df['sex']=df['sex'].replace({'female':0,'male':1})
    #replacing smoker with o and 1
    df['smoker']=df['smoker'].replace({'no':0,'yes':1})
    #one-hot encoding
    region_dummies=pd.get_dummies(df['region'],prefix='region')
    #concating dummies to dataset
    df=pd.concat([df,region_dummies],axis=1)
    #dropping the origin column
    df=df.drop('region',axis=1)
    #split df into x an y
    y=df['expenses']
    x=df.drop('expenses',axis=1)
    #train_test_split
    x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,shuffle=True)
    #scaling the dataset
    scaler=StandardScaler()
    scaler.fit(x_train)
    x_train=pd.DataFrame(scaler.transform(x_train),index=x_train.index,columns=x.columns)
    x_test= pd.DataFrame(scaler.transform(x_test),index=x_test.index,columns=x.columns)    
    
    
    return x_train,x_test,y_train,y_test

In [25]:
x_train,x_test,y_train,y_test=preprocess_inputs(df)
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
685,0.973755,0.991489,-0.718225,0.748429,-0.503003,1.777639,-0.562544,-0.615222,-0.569125
407,0.542851,-1.008584,-1.185743,-0.074755,-0.503003,-0.562544,-0.562544,-0.615222,1.757082
1237,1.332842,-1.008584,-0.417677,-0.897939,-0.503003,-0.562544,1.777639,-0.615222,-0.569125
957,-1.108950,0.991489,-0.651436,-0.074755,-0.503003,-0.562544,1.777639,-0.615222,-0.569125
254,0.758303,0.991489,0.183418,-0.897939,1.988060,1.777639,-0.562544,-0.615222,-0.569125
...,...,...,...,...,...,...,...,...,...
655,0.901938,-1.008584,-0.901893,0.748429,1.988060,-0.562544,-0.562544,1.625430,-0.569125
87,1.189207,-1.008584,-0.584648,-0.897939,-0.503003,-0.562544,-0.562544,-0.615222,1.757082
619,1.117390,-1.008584,1.068364,-0.897939,-0.503003,-0.562544,-0.562544,-0.615222,1.757082
1180,0.183764,-1.008584,1.769642,-0.074755,-0.503003,1.777639,-0.562544,-0.615222,-0.569125
686,0.183764,0.991489,-0.768316,0.748429,-0.503003,1.777639,-0.562544,-0.615222,-0.569125

In [26]:
#Training the model
model=LinearRegression()

In [29]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7395111158726889