<a href="https://www.kaggle.com/code/vijays140291/loan-status-prediction?scriptVersionId=161537890" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Trying the Predict the Loan_Status from the provided information

In [2]:
#loadingg the data
df=pd.read_csv('/kaggle/input/loan-status-prediction/loan_data.csv')
#showing the dataset
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [3]:
#getting the preliminary information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [4]:
#dropping loan_id column
df=df.drop('Loan_ID',axis=1)

In [5]:
{column:list(df[column].unique()) for column in df.columns if df[column].dtype=='object'}

{'Gender': ['Male', 'Female', nan],
 'Married': ['Yes', 'No'],
 'Dependents': ['1', '0', '2', '3+', nan],
 'Education': ['Graduate', 'Not Graduate'],
 'Self_Employed': ['No', 'Yes', nan],
 'Property_Area': ['Rural', 'Urban', 'Semiurban'],
 'Loan_Status': ['N', 'Y']}

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             376 non-null    object
 1   Married            381 non-null    object
 2   Dependents         373 non-null    object
 3   Education          381 non-null    object
 4   Self_Employed      360 non-null    object
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    float64
 8   Loan_Amount_Term   370 non-null    float64
 9   Credit_History     351 non-null    float64
 10  Property_Area      381 non-null    object
 11  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 35.8+ KB

In [7]:
df.isna().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
{column:list(df[column].unique()) for column in df.columns if df[column].dtype=='object'}

{'Gender': ['Male', 'Female', nan],
 'Married': ['Yes', 'No'],
 'Dependents': ['1', '0', '2', '3+', nan],
 'Education': ['Graduate', 'Not Graduate'],
 'Self_Employed': ['No', 'Yes', nan],
 'Property_Area': ['Rural', 'Urban', 'Semiurban'],
 'Loan_Status': ['N', 'Y']}

In [9]:
df=df.dropna(axis=0)

In [10]:
df['Gender']=df['Gender'].replace({"Male":1,'Female':0})
df['Married']=df['Married'].replace({'Yes':1,'No':0})
df['Dependents']=df['Dependents'].replace({'3+':3}).astype(int)
df['Education']=df['Education'].replace({'Graduate':1,'Not Graduate':0})
df['Self_Employed']=df['Self_Employed'].replace({'Yes':1,'No':0})
df['Property_Area']=df['Property_Area'].replace({'Rural':0,'Semiurban':1,'Urban':2})
df['Loan_Status']=df['Loan_Status'].replace({'Y':1,'N':0})

/tmp/ipykernel_33/421579983.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender']=df['Gender'].replace({"Male":1,'Female':0})
/tmp/ipykernel_33/421579983.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Married']=df['Married'].replace({'Yes':1,'No':0})
/tmp/ipykernel_33/421579983.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Education']=df['Education'].replace({'Graduate':1,'Not Graduate':0})
/tmp/ipykernel_33/421579983.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Self_Employed']=df['Self_Employed'].replace({'Yes':1,'No':0})
/tmp/ipykernel_33/421579983.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Property_Area']=df['Property_Area'].replace({'Rural':0,'Semiurban':1,'Urban':2})
/tmp/ipykernel_33/421579983.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Loan_Status']=df['Loan_Status'].replace({'Y':1,'N':0})

In [11]:
y=df['Loan_Status']
x=df.drop('Loan_Status',axis=1)

In [12]:
#scaling the dataset
scaler=StandardScaler()
x=pd.DataFrame(scaler.fit_transform(x),columns=x.columns,index=x.index)

In [13]:
#train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=1234)

In [14]:
#training the model
model=RandomForestClassifier()
model.fit(x_train,y_train)
print('The model score is',model.score(x_test,y_test))

The model score is 0.8172043010752689

In [15]:
model.predict(x_test)

array([0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1])

In [16]:
y_test.value_counts()[1]/(y_test.value_counts()[1]+y_test.value_counts()[0])

0.7634408602150538

In [17]:
y_test

264    1
123    1
131    1
365    1
84     1
      ..
136    0
292    1
133    1
88     0
331    1
Name: Loan_Status, Length: 93, dtype: int64

Best Parameters:  {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
# Best Accuracy:  0.8497142857142859