In [10]:
#importing library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

In [3]:
#loading data
df=pd.read_csv('https://raw.githubusercontent.com/sahidul-shaikh/car-price-prediction-linear-regression/main/CarPrice_Assignment.csv')
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [20]:
len(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

TypeError: object of type 'NoneType' has no len()

In [12]:
df.shape

(205, 26)

In [21]:
#checking the number of missing values
len(df.isnull().sum())

26

In [32]:
from sklearn.preprocessing import LabelEncoder

In [35]:
#encoding the data
for column in df.columns:
    if df[column].dtype==np.number:
        continue
    df[column]=LabelEncoder().fit_transform(df[column])

<ipython-input-35-25c174f738e1>:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype==np.number:

In [36]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,0,5,2,1,0,1,0,2,0,88.6,...,18,5,3.47,2.68,9.0,30,10,8,10,13495.0
1,1,5,3,1,0,1,0,2,0,88.6,...,18,5,3.47,2.68,9.0,30,10,8,10,16500.0
2,2,3,1,1,0,1,2,2,0,94.5,...,28,5,2.68,3.47,9.0,45,10,6,9,16500.0
3,3,4,4,1,0,0,3,1,0,99.8,...,11,5,3.19,3.40,10.0,27,16,11,13,13950.0
4,4,4,5,1,0,0,3,0,0,99.4,...,22,5,3.19,3.40,8.0,33,16,5,5,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,1,139,1,0,0,3,2,0,109.1,...,24,5,3.78,3.15,9.5,32,15,10,11,16845.0
201,201,1,138,1,1,0,3,2,0,109.1,...,24,5,3.78,3.15,8.7,48,14,6,8,19045.0
202,202,1,140,1,0,0,3,2,0,109.1,...,33,5,3.58,2.87,8.8,38,16,5,6,21485.0
203,203,1,142,0,1,0,3,2,0,109.1,...,25,3,3.01,3.40,23.0,28,8,13,10,22470.0
204,204,1,143,1,1,0,3,2,0,109.1,...,24,5,3.78,3.15,9.5,32,15,6,8,22625.0

In [43]:
#creating x and y variable
x=df.drop('price',axis=1)#feature data dataset
x=x.drop('car_ID',axis=1)
#target column
y=df['price']

In [46]:
#spliting the data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [47]:
#Create the model
model=LinearRegression()
#Train the model
model.fit(x_train,y_train)

LinearRegression()

In [54]:
#Create the predictions on the test data
prediction=model.predict(x_test)
#print the prediction
print(prediction)
prediction_train=model.predict(x_train)
print(prediction_train)

[ 9926.99537453 12816.19963725  6153.67830711 10889.47199785
 18098.40224607 12132.59907576  8538.35150773 13267.21017715
  6436.04610301  6106.75082998 10066.55553157  9165.93371477
 28626.6794002   9729.90504615  8615.10802398  4604.48345518
  6355.67125738 20733.6405098  15186.91031636 18597.74197774
 14977.35013633 17018.81271799 14955.85858493 19542.89114524
 20251.76933031  4294.53105375 28559.80588738 16476.93771828
 20845.21204419  7793.33276713 33627.58203534 16322.78918577
 18828.89019961 10446.81256388  8346.91265551 25448.71935203
 20419.22838707 20808.22556466 23207.30318495 20450.1865942
  7545.38982659]
[ 9968.27241628 15399.84922161 11375.81024453  8432.4786112
  4648.96505751 15615.04507537  6700.65488963 16130.56149832
 17726.22232004 21359.42243237  6468.90106911  6400.92333588
  6925.06887076 33238.14873083  6999.72090676  7085.20310998
 14009.59599352 32527.87114504  8813.54564202  7532.69661086
 11174.23670229 15147.0590472  14172.47367599 18972.94282585
 10771.76168312 12232.62747037 15914.84962401 14477.57637377
 21058.7873248   6847.13521943 17514.35874449  4485.13901617
  5475.75847283 28594.40362168  8772.84353458 11013.10988308
  6607.15993205  8013.39163175 18948.44400711 13310.98334833
 10256.86106288 28669.06689461 12528.47575074  6292.98038991
 10836.4483492  12312.33000871  7650.94597178 16324.30674716
  6381.06769349 11613.59200046  9850.89629369  5696.27713642
 22765.08652595 16535.75855228 10402.93240988  9317.4292754
 26723.81109325 10608.50601879  5067.17796473 15229.69998562
  7776.35155221 21241.17365881 14802.65959038 11634.63105666
 16778.7152153  10150.05866806  9569.34438969 15455.58722227
 26683.95982408 13842.29238714 11438.99871582  6794.39623763
 11171.42636111  7089.69344393  5963.56832958 35111.37006121
 20150.91987144  4391.94939685 15596.07975816 10752.40930704
 16565.35766217 33317.85126917  7000.55514025 20254.3480238
 12258.22853048 18946.86443972 14120.16902398  8870.83043281
 18303.36810168 11495.93447636 22656.57522466  6204.13905558
  3747.47198858  5789.66612149  8189.47136985 12298.07979965
  5766.78242107  9653.53478568 20988.56625714  6702.08024031
 11570.86497016 18966.70022129 20676.1850308  11964.18254489
  6885.21760159  6582.8437172  30281.1450337   5096.0899396
 30959.80864605 12486.05212362 22463.18681339  7212.4456927
  6175.74942228 16829.89005006  5722.16731206 11460.9621282
 11043.83720716  4688.34729504  1132.02784242  9424.27478166
 13145.53239734 10356.93292911 13863.67824859  6216.68929009
 19768.07741732  7646.70604979 20260.8046122  13788.00459509
  8732.52088355  6355.12662689  4626.76393885  7617.54106473
 14234.60534801 33534.82519165  6439.55713822  7346.41804662
 16365.06471435 19626.13796274  4285.63670221  5984.15849825
  6716.09358582 12024.23839896  4777.57935707  5557.29110828
  7988.17257918  6406.32811529 23873.18442076  7159.71191328
 26068.76198867  5791.61248043 16532.09211108 17324.73682331
 21193.54008606 16292.03995345 14980.77082522 36595.27326707
  7975.95117223  7115.06573848  7199.96576182 12648.02955824
 28677.94597886 19150.61525653 22095.31204142 18082.31859171]

In [51]:
#Show the models score on the training and test data sets
error_score=metrics.r2_score(y_test,prediction)
print(error_score)

0.8264336474801067

In [56]:
error_score_train=metrics.r2_score(y_train,prediction_train)
print(error_score_train)

0.8614657512438672