In [1]:
import pandas as pd
import openpyxl

In [2]:
data=pd.read_excel("../input/staffmaster2/StaffMaster.xlsx",sheet_name=0)

In [3]:
data

,S.No.,Employee Code,Name,Designation,Grade,Positin Type,SLT/ Non- SLT,SMT/ Non-SMT,Employment Classification - For Gratuity,Employment Classification,...,Emergency Contact Nos,Father's Name,Single / Married,Date of Marriage,Month of Marriage,Current Address,Address,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,0,2000006,Shweta Malhotra,Senior Manager - CEO's Office & Governance,E,NSO,SLT,SMT,Regular,Regular,...,011-40562074,NaN,Married,1997-09-14 00:00:00,September,NaN,"92, Mandakini Enclave, Alaknanda, New Delhi - ...",NaN,NaN,NaN
1,1,2000017,Raj Kumar Pokharel,Assistant - Administration,I,NSO,NON-SLT,Non SMT,Regular,Regular,...,8285512193,NaN,Married,2009-05-22 00:00:00,May,NaN,"262/12, UGF, Amritpuri B, East of Kailash. New...",NaN,NaN,NaN
2,2,2000021,Mohammad Sharif Bhat,Head - Project Office (Jammu & Kashmir),D,State,NON-SLT,Non SMT,Regular,Regular,...,9469612000,NaN,Married,2006-06-22 00:00:00,June,NaN,Majied Bagh Custodial colony Sanatnager House ...,NaN,NaN,NaN
3,3,2000024,Jigmet Gayltsen,Assistant - Administration (Jammu & Kashmir),I,State,NON-SLT,Non SMT,Regular,Regular,...,9797798997,NaN,Single,-,-,NaN,"Korpon Nyoma, Sub Division Nyoma Changthang Le...",NaN,NaN,NaN
4,4,2000025,Tsering Targais,Assistant - Transport (Jammu & Kashmir),I,State,NON-SLT,Non SMT,Regular,Regular,...,9419243599,NaN,Married,1989-10-19 00:00:00,October,NaN,"Near Post office Staff quarter, Housing Colony...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,391,2055195,Sailendra Sharma,Assistant Manager - Project,G,State - Project,NON-SLT,Non SMT,Project,NaN,...,7890011949,Late. Gajanan Sharma,Married,2005-01-30 00:00:00,January,NaN,"53 Janata Road, New Santoshpur, Kolkata-700075",NaN,NaN,NaN
392,392,2055401,Sunil Kumar Katare,Coordinator - Project,H,State - Project,NON-SLT,Non SMT,Project with gratuity,NaN,...,6260632032,Badri Prasad Katare,Married,2004-04-29 00:00:00,April,NaN,"House No. 3158, Ward No. 14, Shastri Colony, N...",NaN,NaN,NaN
393,393,2055826,Akula Anusha,Assistant - Project (Registations),I,State - Project,NON-SLT,Non SMT,Project,NaN,...,9848406542,AKULA SATYANARAYANA,Unmarried,NaN,NaN,NaN,"10-3-217/1 ,saroornagar, Hyderabad .",NaN,NaN,NaN
394,394,2056028,Nikita Hunjan,Manager - Human Resources (North),F,Hub,NON-SLT,Non SMT,Regular,NaN,...,9810915407,Rakesh Kumar,Unmarried,NaN,NaN,NaN,"B-17/254 Bharat Nagar , Ludhiana.",NaN,NaN,NaN
395,395,2056430,Vinod V Pote,Coordinator - Adminstration & Procurement,H,State - Project,NON-SLT,Non SMT,Project,NaN,...,9901456226,Vinayak,Married,2008-11-21 00:00:00,November,NaN,"House No-2085, Ward no-29, Ramdev Galli, Jamkh...",NaN,NaN,NaN

In [4]:
#where lookup need to perform
reports=pd.read_excel("../input/reports/Reports Sep.xlsx",sheet_name=0)
reports

,Username,Email,Department,Manager Email,Employee ID,Designation,Course Name,Enrollment Date,Status,Score,Completion Date,Customatt1,Customatt2,Team ID,Location,Function
0,Aarif Hammal,aarif.hammal@savethechildren.in,Operations,ipsita.das@savethechildren.in,2000695,Coordinator - Procurement And Administration (...,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
1,Abhik Dutta,abhik.dutta@savethechildren.in,Programme & Policy,o.singh@savethechildren.in,2000636,Manager - Monitoring & Evaluation,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
2,Abhishek Mishra,abhishek.mishra@savethechildren.in,Programme & Policy,a.ghatak@savethechildren.in,2000971,Manager - Project,POSH Refresher 2022,2022-07-04 06:31:00,Completed,100,2022-07-11 10:21:00,NaN,NaN,NaN,NaN,NaN
3,Abhishek Trivedi,abhishek.trivedi@savethechildren.in,Programme & Policy,j.mondar@savethechildren.in,2000788,Assistant Manager - Project,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
4,Aditya Mehta,a.mehta@savethechildren.in,Resource Mobilisation,jyoti.gandhi@savethechildren.in,2000427,Manager - Digital Fundraising (individual Giving),POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Viraj Gokhale,viraj.gokhale@savethechildren.in,Resource Mobilisation,padma.raghavan@savethechildren.in,2043863,Assistant Manager - Corporate Partnerships (west),POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
351,Vishal Kumar,vishal.kumar@savethechildren.in,Programme & Policy,antaryami.dash@savethechildren.in,2041925,Manager - Nutrition,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
352,Yaramala Rao,srinivaasa.y@savethechildren.in,Programme & Policy,prasanthi.bathina@savethechildren.in,2000869,Assistant - Project,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
353,Yasmin Riaz,yasmin.riaz@savethechildren.in,Resource Mobilisation,sudarshan.suchi@savethechildren.in,2000926,Director - Resource Mobilisation,POSH Refresher 2022,2022-07-04 06:31:00,Not Started,Null,NaT,NaN,NaN,NaN,NaN,NaN
354,Zakiya Begum,zakiya.begum@savethechildren.in,Programme & Policy,poorna.chandrika@savethechildren.in,2045315,Assistant - Project (counselor),POSH Refresher 2022,2022-07-04 06:31:00,Completed,100,2022-07-20 07:02:00,NaN,NaN,NaN,NaN,NaN

In [5]:
#renaming the column name to same as Staff Master
reports.rename(columns={"Employee ID":"Employee Code"},inplace=True)

# Using Vlookup

In [6]:
Left_join = pd.merge(reports, 
                     data[['Employee Code','Location','Function']], 
                     on ='Employee Code', 
                     how ='left')

In [7]:
#Left_join.to_excel('reports2.xlsx')

# Getting Salary Information

In [8]:
while True:
    Name=input("Enter the Name of the Employee")
    if Name=="Exit":
        break
    CTC=data.loc[(data['Name']==Name)]['CTC Annual']
    print(CTC)

Enter the Name of the Employee Exit

# Birthday data

In [9]:
dob=pd.to_datetime(data['DOB'])
data['year']=dob.apply(lambda x:x.year)
data['month']=dob.apply(lambda x:x.month)
data['day']=dob.apply(lambda x:x.day)
col = ["month", "day"]
df = data.sort_values(col, ascending=[True, True])
birthday_df=df[['Name','DOB',"Email_Address","Location"]]
birthday_df.to_excel("birthday2.xlsx")

In [20]:
date_of_join=data.copy()
doj=date_of_join['DOJ']
date_of_join['year']=doj.apply(lambda x:x.year)
date_of_join['month']=doj.apply(lambda x:x.month)
date_of_join['day']=doj.apply(lambda x:x.day)
joining_df=date_of_join[['Name','DOJ',"Email_Address","Location","year","month"]]
#birthday_df.to_excel("birthday2.xlsx")
date_of_joining=joining_df[joining_df['year']==2022][joining_df['month']==8]

date_of_joining.reset_index(inplace=True)
date_of_joining

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,index,Name,DOJ,Email_Address,Location,year,month
0,383,Rashmee Saha,2022-08-01,rashmee.saha@savethechildren.in,Assam,2022,8
1,384,SWAPON THAUSEN,2022-08-01,swapon.thausen@savethechildren.in,Assam,2022,8
2,385,Ruma Moni Saikia,2022-08-01,ruma.saikia@savethechildren.in,Assam,2022,8
3,386,Chandrani Choudhury,2022-08-01,chandrani.choudhury@savethechildren.in,Assam,2022,8
4,387,Naba Kaman,2022-08-01,naba.kaman@savethechildren.in,Assam,2022,8
5,388,Godwin Hemrom,2022-08-01,godwin.hemrom@savethechildren.in,Assam,2022,8
6,389,Santosh Kumar Singh,2022-08-01,santosh.singh@savethechildren.in,Bihar,2022,8
7,390,Rohit Babbar,2022-08-01,rohit.babbar@savethechildren.in,"National Support Office, Gurgaon",2022,8
8,391,Sailendra Sharma,2022-08-02,sailendra.sharma@savethechildren.in,West Bengal,2022,8
9,392,Sunil Kumar Katare,2022-08-04,sunil.katare@savethechildren.in,Madhya Pradesh,2022,8
10,393,Akula Anusha,2022-08-05,akula.anusha@savethechildren.in,Andhra Pradesh,2022,8
11,394,Nikita Hunjan,2022-08-16,nikita.hunjan@savethechildren.in,Delhi,2022,8
12,395,Vinod V Pote,2022-08-17,vinod.pote@savethechildren.in,Karnataka,2022,8

In [11]:

#create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter('birthday3.xlsx', engine='xlsxwriter')

#write each DataFrame to a specific sheet
birthday_df.to_excel(writer, sheet_name='birth date')
date_of_joining.to_excel(writer, sheet_name='new joining')


#close the Pandas Excel writer and output the Excel file
writer.save()

In [ ]:
pip install xlsxwriter

Dob,Email,Location

In [ ]:
birthday_df