In [1]:
#importing library
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV

In [18]:
#loading the dataset
df=pd.read_csv('../input/oranges-vs-grapefruit/citrus.csv')
#showing the dataset
df

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [3]:
#getting information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

# Encoding Labels

In [4]:
#getting the value counts
df['name'].value_counts()

orange        5000
grapefruit    5000
Name: name, dtype: int64

In [19]:
#label mapping
label_mapping={'orange':10,'grapefruit':1}
df['name']=df['name'].replace(label_mapping)

In [8]:
y=df['name'].copy()
x=df.drop('name',axis=1).copy()

In [10]:
x

      diameter  weight  red  green  blue
0         2.96   86.76  172     85     2
1         3.91   88.05  166     78     3
2         4.42   95.17  156     81     2
3         4.47   95.60  163     81     4
4         4.48   95.76  161     72     9
...        ...     ...  ...    ...   ...
9995     15.35  253.89  149     77    20
9996     15.41  254.67  148     68     7
9997     15.59  256.50  168     82    20
9998     15.92  260.14  142     72    11
9999     16.45  261.51  152     74     2

[10000 rows x 5 columns]

In [11]:
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=1)

In [13]:
#training the model
base_model=LogisticRegression()
base_model.fit(x_train,y_train)

LogisticRegression()

In [16]:
base_acc=base_model.score(x_test,y_test)