In [79]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler
from sklearn.linear_model import LogisticRegression

In [80]:
df=pd.read_csv('/kaggle/input/employee-attrition-data/MFG10YearTerminationData.csv')
#showing the dataset
df

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [82]:
df.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [83]:
def preprocess_inputs(df):
    #creating the copy of the dataset
    df=df.copy()
    #dropping the unnecessary columns
    df=df.drop(['EmployeeID','gender_short'],axis=1)
    df=df.drop(['terminationdate_key','length_of_service','termreason_desc','termtype_desc'],axis=1)
    
    
    
    
    y=df['STATUS']
    x=df.drop('STATUS',axis=1)
    
    x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7)
    
    
    return x_train,x_test,y_train,y_test

In [84]:
x_train,x_test,y_train,y_test=preprocess_inputs(df)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(34757, 11)
(14896, 11)
(34757,)
(14896,)

In [85]:
x_train

,recorddate_key,birthdate_key,orighiredate_key,age,city_name,department_name,job_title,store_name,gender_full,STATUS_YEAR,BUSINESS_UNIT
13223,12/31/2011 0:00,11/20/1960,12/6/1995,51,Burnaby,Processed Foods,Shelf Stocker,5,Female,2011,STORES
46124,12/31/2014 0:00,4/14/1990,6/16/2011,24,Vancouver,Dairy,Dairy Person,44,Female,2014,STORES
19675,12/31/2013 0:00,11/22/1965,7/29/1998,48,West Vancouver,Produce,Produce Clerk,38,Female,2013,STORES
1314,12/31/2008 0:00,9/4/1950,7/16/1990,58,Vancouver,Store Management,Store Manager,42,Female,2008,STORES
25680,12/31/2015 0:00,6/21/1970,12/28/2000,45,Vancouver,Customer Service,Cashier,42,Male,2015,STORES
...,...,...,...,...,...,...,...,...,...,...,...
40779,12/31/2014 0:00,9/5/1983,12/20/2007,31,Prince George,Customer Service,Cashier,26,Female,2014,STORES
1287,12/31/2012 0:00,8/22/1950,7/9/1990,62,Prince George,Produce,Produce Manager,26,Female,2012,STORES
16357,12/31/2013 0:00,5/22/1963,4/2/1997,50,Kelowna,Produce,Produce Clerk,16,Female,2013,STORES
8762,12/31/2013 0:00,5/22/1957,1/31/1994,56,Victoria,Meats,Meat Cutter,46,Female,2013,STORES
14961,12/31/2011 0:00,5/12/1962,9/16/1996,49,Kelowna,Produce,Produce Clerk,16,Male,2011,STORES

# Building Pipeline

In [78]:
#{column:list(df[column].unique()) for column in df.select_dtypes('object').columns}

In [86]:
df.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [64]:
df['gender_short']

0        M
1        M
2        M
3        M
4        M
        ..
49648    M
49649    F
49650    F
49651    F
49652    F
Name: gender_short, Length: 49653, dtype: object

In [95]:
binary_features=['gender_short','gender_full','STATUS','BUSINESS_UNIT']
nominal_features=['city_name','department_name','job_title']
date_features=['recorddate_key','birthdate_key','orighiredate_key']


binary_transformer=Pipeline(steps=[('Ordinal',OrdinalEncoder(categories='auto'))])

nominal_transformer=Pipeline(steps=[('Nominal',OneHotEncoder())])




date_transformer=Pipeline(steps=[('Date',DateTransformer())])

In [96]:
preprocessor=ColumnTransformer(transformers=[('binary',binary_transformer,binary_features),('nominal',nominal_transformer,nominal_features),
                                             ('date',date_transformer,date_features)])

In [97]:
preprocessor

ColumnTransformer(transformers=[('binary',
                                 Pipeline(steps=[('Ordinal',
                                                  OrdinalEncoder())]),
                                 ['gender_short', 'gender_full', 'STATUS',
                                  'BUSINESS_UNIT']),
                                ('nominal',
                                 Pipeline(steps=[('Nominal', OneHotEncoder())]),
                                 ['city_name', 'department_name', 'job_title']),
                                ('date',
                                 Pipeline(steps=[('Date',
                                                  <__main__.DateTransformer object at 0x7e1ca56820d0>)]),
                                 ['recorddate_key', 'birthdate_key',
                                  'orighiredate_key'])])

In [98]:
#Building the Final Pipeline
model=Pipeline(steps=[('preprocessor',preprocessor),('scaler',StandardScaler()),('classifier',LogisticRegression())])

In [99]:
model

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('binary',
                                                  Pipeline(steps=[('Ordinal',
                                                                   OrdinalEncoder())]),
                                                  ['gender_short',
                                                   'gender_full', 'STATUS',
                                                   'BUSINESS_UNIT']),
                                                 ('nominal',
                                                  Pipeline(steps=[('Nominal',
                                                                   OneHotEncoder())]),
                                                  ['city_name',
                                                   'department_name',
                                                   'job_title']),
                                                 ('date',
                                                  Pipeline(steps=[('Date',
                                                                   <__main__.DateTransformer object at 0x7e1ca56820d0>)]),
                                                  ['recorddate_key',
                                                   'birthdate_key',
                                                   'orighiredate_key'])])),
                ('scaler', StandardScaler()),
                ('classifier', LogisticRegression())])

# Training the Model

In [100]:
df['gender_short'].unique()

array(['M', 'F'], dtype=object)

In [101]:
model.fit(x_train,y_train)

ValueError: A given column is not a column of the dataframe

In [ ]:
x_train

In [71]:
class DateTransformer:
    
    def fit(self,x,y):
        return self
        
    def transform(self,x):
        
        x[column]=pd.to_datetime(x[column])
        
        x[column+'_year']=x[column].dt.year
        x[column+'_month']=x[column].dt.month
        x[column+'_day']=x[column].dt.day
        x=x.drop(column,axis=1)
        return x

In [72]:
x_train.loc[:,date_features]

        recorddate_key birthdate_key orighiredate_key
21745  12/31/2007 0:00     8/11/1967        6/25/1999
6980   12/31/2011 0:00     1/10/1956        5/13/1993
16330  12/31/2006 0:00     5/12/1963        3/28/1997
46795  12/31/2013 0:00     7/10/1991        2/10/2012
3335   12/31/2012 0:00     8/29/1952         8/3/1991
...                ...           ...              ...
42586  12/31/2009 0:00     7/27/1985       12/19/2008
21752  12/31/2014 0:00     8/11/1967        6/25/1999
32956  12/31/2015 0:00    12/12/1976        5/30/2004
596    12/31/2011 0:00    10/16/1949        1/27/1990
28864  12/31/2013 0:00     4/16/1973        6/25/2002

[34757 rows x 3 columns]

In [73]:
df.isna().sum()

EmployeeID             0
recorddate_key         0
birthdate_key          0
orighiredate_key       0
terminationdate_key    0
age                    0
length_of_service      0
city_name              0
department_name        0
job_title              0
store_name             0
gender_short           0
gender_full            0
termreason_desc        0
termtype_desc          0
STATUS_YEAR            0
STATUS                 0
BUSINESS_UNIT          0
dtype: int64