In [1]:
#importig library
import numpy as np
import pandas as pd
#request http 
import requests
#save well formated file
import xlsxwriter
#do mathematical function
import math

In [4]:
#list of 500 stocks
#loading to csv file
stocks=pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/constituents.csv')
#loadin the first column
stocks['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [5]:
from secrets import IEX_CLOUD_API_TOKEN

In [6]:
symbol='AAPL'
api_url=f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
print(api_url)

https://sandbox.iexapis.com/stable/stock/AAPL/quote?token=Tpk_059b97af715d417d9f49f50b51b1c448

In [7]:
#requesting the data from api in json format
data=requests.get(api_url).json()
print(data)

{'avgTotalVolume': 72283168, 'calculationPrice': 'close', 'change': 0.54, 'changePercent': 0.00362, 'close': 156.99, 'closeSource': 'oificafl', 'closeTime': 1703936058321, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 157.7, 'delayedPriceTime': 1638187638534, 'extendedChange': -0.23, 'extendedChangePercent': -0.00154, 'extendedPrice': 151.86, 'extendedPriceTime': 1691994193310, 'high': 158.3, 'highSource': 'y5neu1meeep dic ilratd ', 'highTime': 1655697013688, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexClose': 155.14, 'iexCloseTime': 1711805230711, 'iexLastUpdated': 1654758801130, 'iexMarketPercent': 0.009313272898891542, 'iexOpen': 154.4, 'iexOpenTime': 1679341237136, 'iexRealtimePrice': 153.81, 'iexRealtimeSize': 101, 'iexVolume': 606405, 'lastTradeTime': 1668525175005, 'latestPrice': 152.63, 'latestSource': 'Close', 'latestTime': 'November 5, 2021', 'latestUpdate': 1662310093627, 'latestVolume': 67368407, 'low': 153.02, 'lowSource': 'dy1el i5ertcuane di mpe', 'lowTime': 1709791890373, 'marketCap': 2515871287703, 'oddLotDelayedPrice': 151.257, 'oddLotDelayedPriceTime': 1653196412284, 'open': 153.02, 'openTime': 1716192874405, 'openSource': 'ffilciao', 'peRatio': 13.95, 'previousClose': 152.47, 'previousVolume': 62418020, 'primaryExchange': 'AANSDQ', 'symbol': 'AAPL', 'volume': 65657830, 'week52High': 163.7, 'week52Low': 112.57, 'ytdChange': 0.14674282908079922, 'isUSMarketOpen': False}

In [8]:
dictionary={
    'a':1,
    'b':2
}
dictionary['a']

1

In [9]:
#Parsing API call
price=data['latestPrice']
print(price)
market_cap=data['marketCap']
print(market_cap)

152.63
2515871287703

In [10]:
#creating pandas dataframe
my_column=['Ticker','Stock Price','Market Captalization','Number of Shares to Buy']
final_dataframe=pd.DataFrame(columns=my_column)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Captalization, Number of Shares to Buy]
Index: []

In [11]:
#appending datapoint to dataframe
final_dataframe.append(
    pd.Series(
    [symbol,
    price,
    market_cap,
    'N/A']
    ,
    index=my_column
    
    ),
    ignore_index=True


)

  Ticker  Stock Price Market Captalization Number of Shares to Buy
0   AAPL       152.63        2515871287703                     N/A

In [14]:
symbol_groups = list(chunks(stocks['Symbol'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

final_dataframe = pd.DataFrame(columns = my_column)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    print
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'], 
                                                   data[symbol]['quote']['marketCap'], 
                                                   'N/A'], 
                                                  index = my_column), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker  Stock Price Market Captalization Number of Shares to Buy
0      MMM       186.40         105199466761                     N/A
1      AOS        78.27          13004131268                     N/A
2      ABT       124.76         229052032655                     N/A
3     ABBV       121.79         210322171019                     N/A
4     ABMD       378.17          16860041677                     N/A
..     ...          ...                  ...                     ...
500    YUM       131.60          38657223196                     N/A
501   ZBRA       632.30          33254312437                     N/A
502    ZBH       144.97          30318990235                     N/A
503   ZION        65.17          10821035380                     N/A
504    ZTS       226.15         106823590626                     N/A

[505 rows x 4 columns]

In [17]:
#final dataframe

final_dataframe

    Ticker  Stock Price Market Captalization Number of Shares to Buy
0      MMM       186.40         105199466761                     N/A
1      AOS        78.27          13004131268                     N/A
2      ABT       124.76         229052032655                     N/A
3     ABBV       121.79         210322171019                     N/A
4     ABMD       378.17          16860041677                     N/A
..     ...          ...                  ...                     ...
500    YUM       131.60          38657223196                     N/A
501   ZBRA       632.30          33254312437                     N/A
502    ZBH       144.97          30318990235                     N/A
503   ZION        65.17          10821035380                     N/A
504    ZTS       226.15         106823590626                     N/A

[505 rows x 4 columns]

In [13]:
#This function create chunks 
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [29]:
#creating a input function
portfolio_size=input('Enter the value of your portfolio')
try:
    val=float(portfolio_size)

except:
    print("Please enter an integer")
    portfolio_size=input('Enter the value of your portfolio')
    val=float(portfolio_size)

Enter the value of your portfolio10000000

In [30]:
#creating average size
position_size=val/len(final_dataframe.index)
number_of_apple_shares=position_size/500
print(math.floor(number_of_apple_shares))

39

In [38]:
position_size=val/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
               final_dataframe.loc[i,'Number of Shares to Buy']=math.floor(position_size/final_dataframe.loc[i,'Stock Price'])
               
               
               #final_dataframe.loc(i,'Number of Share to Buy')=math.floor()
final_dataframe

    Ticker  Stock Price Market Captalization Number of Shares to Buy
0      MMM       186.40         105199466761                     106
1      AOS        78.27          13004131268                     252
2      ABT       124.76         229052032655                     158
3     ABBV       121.79         210322171019                     162
4     ABMD       378.17          16860041677                      52
..     ...          ...                  ...                     ...
500    YUM       131.60          38657223196                     150
501   ZBRA       632.30          33254312437                      31
502    ZBH       144.97          30318990235                     136
503   ZION        65.17          10821035380                     303
504    ZTS       226.15         106823590626                      87

[505 rows x 4 columns]

In [39]:
#XlsxWritere Object
writer=pd.ExcelWriter('recommened_trades.xlsx',engine='xlsxwriter')
final_dataframe.to_excel(writer,'Recommended Trades',index=False)

In [43]:

background_color = '#0a0a23'
font_color = '#ffffff'

string_format=writer.book.add_format(
{
    'font_color':font_color,
    'bg_color':  background_color,
    'border':    1
    
    
}
)

dollar_format=writer.book.add_format(
{
    'num_format': '$0.00',
    'font_color':font_color,
    'bg_color': background_color,
    'border': 1
    
    
}
)
integer_format=writer.book.add_format(
{
   'num_format': '$0.00',
    'font_color':font_color,
    'bg_color': background_color,
    'border': 1
    
    
    
}


)

In [46]:
#formating the sheet
writer.sheets['Recommended Trades'].set_column('A:A',18,string_format)
writer.sheets['Recommended Trades'].set_column('B:B',18,string_format)
writer.sheets['Recommended Trades'].set_column('C:C',18,string_format)
writer.sheets['Recommended Trades'].set_column('D:D',18,string_format)

writer.save()

In [48]:
column_formats={
    'A':['Ticker',string_format],
    'B':['Stock Price',dollar_format],
    'C':['Market Capitalization',dollar_format],
    'D':['Number of Shares to Buy',integer_format]
    
    
    
    
    
}


for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

In [47]:
writer.save()

C:\Users\ASUS\anaconda3\lib\site-packages\xlsxwriter\workbook.py:329: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")