# Use the CVS excel file Housing data.
a. Regress medv on paratio and rm.
b. Repeat regression, but normalize both features before running the regression.
c. do you get a different R2?

In [178]:
#importing the library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [179]:
#loading the data
df=pd.read_csv('Housing.csv')

In [180]:
df

        crim    zn  river     rm  ptratio  medv
0    0.00632  18.0      0  6.575     15.3  24.0
1    0.02731   0.0      0  6.421     17.8  21.6
2    0.02729   0.0      0  7.185     17.8  34.7
3    0.03237   0.0      0  6.998     18.7  33.4
4    0.06905   0.0      0  7.147     18.7  36.2
..       ...   ...    ...    ...      ...   ...
501  0.06263   0.0      0  6.593     21.0  22.4
502  0.04527   0.0      0  6.120     21.0  20.6
503  0.06076   0.0      0  6.976     21.0  23.9
504  0.10959   0.0      0  6.794     21.0  22.0
505  0.04741   0.0      0  6.030     21.0  11.9

[506 rows x 6 columns]

# a. Regress medv on paratio and rm.

In [181]:
#selecting feature and target columns and storing it in variables
feature_columns=['ptratio','rm']
x=df[feature_columns]
y=df['medv']

In [182]:
#spliting the data with train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=True)

In [183]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(354, 2)
(152, 2)
(354,)
(152,)

In [184]:
#training the model
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [185]:
#checking the score
score=model.score(x_test,y_test)
print(score)

0.6627962597759816

# b. Repeat regression, but normalize both features before running the regression. c. do you get a different R2?

In [186]:
#scaling the feature columns between 1 and 0
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train=pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)
x_test=pd.DataFrame(scaler.fit_transform(x_test),columns=x_test.columns)

In [187]:
print(x_train)

      ptratio        rm
0    0.893617  0.457559
1    0.755319  0.460816
2    0.808511  0.619467
3    0.606383  0.581337
4    0.808511  0.000000
..        ...       ...
349  0.404255  0.443572
350  0.702128  0.479785
351  0.808511  0.544932
352  0.510638  0.483809
353  0.702128  0.438590

[354 rows x 2 columns]

In [188]:
#training the model
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [189]:
#checking the score
score_normalize=model.score(x_test,y_test)
print(score_normalize)

0.6522486762044752

# Result

In [234]:
print('Result without normalizing the feature column: {:.2}'.format(score))
print('Result with normalizing the feature column: {:.2}'.format(score_normalize))

Result without normalizing the feature column: 0.66
Result with normalizing the feature column: 0.65

# 3. Use per capita crime rate (crim) as the response. Use the other variables
(including the medv variable) as the predictors.
a. What is the R2 and adj-R2?
b. For which predictors can we reject the null hypothesis H0: Bj = 0 (at the 5% 
level)?
c. Regress crim on the significant predictors ONLY. How do you interpret the slopes 
in the regression?

In [206]:
df

        crim    zn  river     rm  ptratio  medv
0    0.00632  18.0      0  6.575     15.3  24.0
1    0.02731   0.0      0  6.421     17.8  21.6
2    0.02729   0.0      0  7.185     17.8  34.7
3    0.03237   0.0      0  6.998     18.7  33.4
4    0.06905   0.0      0  7.147     18.7  36.2
..       ...   ...    ...    ...      ...   ...
501  0.06263   0.0      0  6.593     21.0  22.4
502  0.04527   0.0      0  6.120     21.0  20.6
503  0.06076   0.0      0  6.976     21.0  23.9
504  0.10959   0.0      0  6.794     21.0  22.0
505  0.04741   0.0      0  6.030     21.0  11.9

[506 rows x 6 columns]

In [209]:
#selecting feature and target column and storing it in variables
y=df['crim']
x=df.drop('crim',axis=1)

In [210]:
#spliting the data with train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=True)

In [211]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(354, 5)
(152, 5)
(354,)
(152,)

In [212]:
#traing the model
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [213]:
#checking the score
print('R2 score for crime rate as the response:{:.2}'.format(model.score(x_test,y_test)))

R2 score for crime rate as the response:0.13

In [214]:
corr_zn = y.corr(x['zn'])
corr_river = y.corr(x['river'])
corr_ptratio = y.corr(x['ptratio'])
corr_medv = y.corr(x['medv'])
print(corr_zn)
print(corr_river)
print(corr_ptratio)
print(corr_medv)

-0.2004692196625475
-0.055891582222241484
0.2899455792795203
-0.38830460858681154

In [222]:
y=df['crim']
x=df.drop(['ptratio','crim'],axis=1)

In [216]:
#spliting the data with train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=True)

In [217]:
#traing the model
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [218]:
model.score(x_test,y_test)

0.1296837274120397

# Randomly split the Housing data into two parts with 30% as test data. Use random_state 
= 2 in this split. Because this is a regression problem, you donâ€™t want to use stratify = y 
part of the code. Regress medv on river and rm using the training data.
a. Compute R2 on both the training data and the test data (i.e., in-sample R2 and 
out-of-sample R2). (Hint: if you use the sklearn package, computing the out-ofsample R2 just needs you to replace the arguments of the .score(.,.) in your code
to compute the in-sample R2.

In [223]:
df

        crim    zn  river     rm  ptratio  medv
0    0.00632  18.0      0  6.575     15.3  24.0
1    0.02731   0.0      0  6.421     17.8  21.6
2    0.02729   0.0      0  7.185     17.8  34.7
3    0.03237   0.0      0  6.998     18.7  33.4
4    0.06905   0.0      0  7.147     18.7  36.2
..       ...   ...    ...    ...      ...   ...
501  0.06263   0.0      0  6.593     21.0  22.4
502  0.04527   0.0      0  6.120     21.0  20.6
503  0.06076   0.0      0  6.976     21.0  23.9
504  0.10959   0.0      0  6.794     21.0  22.0
505  0.04741   0.0      0  6.030     21.0  11.9

[506 rows x 6 columns]

In [224]:
y=df['medv']
feature_columns=['river','rm']
x=df[feature_columns]

In [226]:
#spliting the data with train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=True)

In [227]:
#traing the model
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [233]:
print('R2 score for sample data: {:.2}'.format(model.score(x_train,y_train)))
print('R2 score for out of  sample data: {:.2}'.format(model.score(x_test,y_test)))

R2 score for sample data: 0.43
R2 score for out of  sample data: 0.61