In [1]:
#importing library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#loading the dataset
df=pd.read_csv('../input/stores-area-and-sales-data/Stores.csv')
#showing the dataset
df

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0            1        1659             1961                   530        66490
1            2        1461             1752                   210        39820
2            3        1340             1609                   720        54010
3            4        1451             1748                   620        53730
4            5        1770             2111                   450        46620
..         ...         ...              ...                   ...          ...
891        892        1582             1910                  1080        66390
892        893        1387             1663                   850        82080
893        894        1200             1436                  1060        76440
894        895        1299             1560                   770        96610
895        896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [3]:
#getting information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Store ID              896 non-null    int64
 1   Store_Area            896 non-null    int64
 2   Items_Available       896 non-null    int64
 3   Daily_Customer_Count  896 non-null    int64
 4   Store_Sales           896 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

In [4]:
#checking for the null value in the dataset
df.isna().sum()

Store ID                0
Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

In [5]:
#dropping the Store ID from the dataset
df=df.drop('Store ID ',axis=1)

In [6]:
#importing the regression model
from sklearn.linear_model import LinearRegression

In [16]:
#creating instance of the Regression model
model=LinearRegression()

In [8]:
#splitting the dataset into x and y
y=df['Store_Sales']
x=df.drop('Store_Sales',axis=1)

In [11]:
x

     Store_Area  Items_Available  Daily_Customer_Count
0          1659             1961                   530
1          1461             1752                   210
2          1340             1609                   720
3          1451             1748                   620
4          1770             2111                   450
..          ...              ...                   ...
891        1582             1910                  1080
892        1387             1663                   850
893        1200             1436                  1060
894        1299             1560                   770
895        1174             1429                  1110

[896 rows x 3 columns]

In [12]:
#Splting the data best train and test
from sklearn.model_selection import train_test_split

In [17]:
#Splitting the data 
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=123)

In [18]:
#fitting the model
model.fit(x_train,y_train)

LinearRegression()

In [19]:
#evaluating the model
model.score(x_test,y_test)

0.006305663899610625