<a href="https://colab.research.google.com/github/vijays4404/TimeSeries/blob/main/timeseries9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

In [7]:
brent=pd.read_csv('/content/drive/MyDrive/Data/BrentOilPrices.csv')

In [8]:
brent.head(5)

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63