#importing library
import pandas as ps

In [1]:
#importing library
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv('../input/craigslist-carstrucks-data/vehicles.csv')
df

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [4]:
#checking null values
df.columns[df.isna().mean()>0.25]

Index(['condition', 'cylinders', 'VIN', 'drive', 'size', 'paint_color',
       'county'],
      dtype='object')

In [5]:
#checking null values
null_columns=df.columns[df.isna().mean()>0.25]

In [6]:
df=df.drop(null_columns,axis=1)

In [7]:
df.shape

(426880, 19)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  type          334022 non-null  object
 13  image_url     426812 non-null  object
 14  description   426810 non-null  object
 15  state         426880 non-null  object
 16  lat           420331 non-null  float64
 17  long          420331 non-null  float64
 18  posting_date  426812 non-null  object
dtypes: float64(4), int64(2), object(13)
memory usage: 61.9+ MB

In [9]:
unneeded_columns=['id','url','region_url','description','image_url']

In [10]:
df=df.drop(unneeded_columns,axis=1)

In [11]:
df

,region,price,year,manufacturer,model,fuel,odometer,title_status,transmission,type,state,lat,long,posting_date
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,wyoming,23590,2019.0,nissan,maxima s sedan 4d,gas,32226.0,clean,other,sedan,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,gas,12029.0,clean,other,sedan,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,diesel,4174.0,clean,other,hatchback,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,wyoming,28990,2018.0,lexus,es 350 sedan 4d,gas,30112.0,clean,other,sedan,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,gas,22716.0,clean,other,coupe,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [12]:
df=df.drop('model',axis=1)

In [13]:
def onehot_encode(df,columns,prefixes):
    df=df.copy()
    for column,prefix in zip(columns,prefixes):
        dummies=pd.get_dummies(df[column],prefix=prefix)
        df=pd.concat([df,dummies],axis=1)
        df=df.drop(column,axis=1)
    return df

In [14]:
df=onehot_encode(df,['region','fuel','title_status','transmission','state'],
                        ['reg','fuel','title','trans','state'])

In [15]:
df=onehot_encode(df,['manufacturer','type'],['manu','type'])

In [16]:
df

,price,year,odometer,lat,long,posting_date,reg_SF bay area,reg_abilene,reg_akron / canton,reg_albany,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
0,6000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11900,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21000,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1500,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4900,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,32226.0,33.786500,-84.445400,2021-04-04T03:21:31-0600,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426876,30590,2020.0,12029.0,33.786500,-84.445400,2021-04-04T03:21:29-0600,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426877,34990,2020.0,4174.0,33.779214,-84.411811,2021-04-04T03:21:17-0600,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
426878,28990,2018.0,30112.0,33.786500,-84.445400,2021-04-04T03:21:11-0600,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426879,30590,2019.0,22716.0,33.779214,-84.411811,2021-04-04T03:21:07-0600,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [17]:
df=df.drop(['odometer','posting_date'],axis=1)

In [18]:
df

,price,year,lat,long,reg_SF bay area,reg_abilene,reg_akron / canton,reg_albany,reg_albuquerque,reg_altoona-johnstown,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
0,6000,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11900,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21000,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1500,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4900,NaN,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426876,30590,2020.0,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426877,34990,2020.0,33.779214,-84.411811,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
426878,28990,2018.0,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426879,30590,2019.0,33.779214,-84.411811,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [19]:
for column in df.columns:
    df[column]=df[column].fillna(df[column].mean())

In [20]:
df

,price,year,lat,long,reg_SF bay area,reg_abilene,reg_akron / canton,reg_albany,reg_albuquerque,reg_altoona-johnstown,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
0,6000,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11900,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21000,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1500,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4900,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.000000,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426876,30590,2020.000000,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426877,34990,2020.000000,33.779214,-84.411811,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
426878,28990,2018.000000,33.786500,-84.445400,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426879,30590,2019.000000,33.779214,-84.411811,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [21]:
df.isna().sum().sum()

0

In [22]:
y=df.loc[:,'price']
x=df.drop('price',axis=1)

In [23]:
x

,year,lat,long,reg_SF bay area,reg_abilene,reg_akron / canton,reg_albany,reg_albuquerque,reg_altoona-johnstown,reg_amarillo,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
0,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011.235191,38.493940,-94.748599,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,2019.000000,33.786500,-84.445400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426876,2020.000000,33.786500,-84.445400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426877,2020.000000,33.779214,-84.411811,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
426878,2018.000000,33.786500,-84.445400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
426879,2019.000000,33.779214,-84.411811,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [24]:
y

0          6000
1         11900
2         21000
3          1500
4          4900
          ...
426875    23590
426876    30590
426877    34990
426878    28990
426879    30590
Name: price, Length: 426880, dtype: int64

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=34)

In [26]:
x_train.shape

(298816, 527)

In [27]:
x_test.shape

(128064, 527)

In [28]:
y_train.shape

(298816,)

In [29]:
y_test.shape

(128064,)

In [30]:
lin=LinearRegression()
lin.fit(x_train,y_train)

LinearRegression()

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
lin.score(x_train,y_train)

0.0011409861314265468

In [33]:
lin.score(x_test,y_test)

-276655909175.0738